{% extends "base.html" %}

{% block title %}Welcome to the Beehive Monitoring System{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Beehive Monitoring System</h1>
    <ul>
        <li><a href="/temperature">Temperature Readings</a></li>
        <li><a href="/humidity">Humidity Readings</a></li>
        <li><a href="/weight">Weight Readings</a></li>
    </ul>
</div>
<div class="container mt-5">
    <h1 class="mb-4">Current Hive Readings</h1>
    {% if latest_readings %}
        <div class="row mb-4">
            <div class="col-md-4">
                <h2>
                    <img src="{{ url_for('static', filename='temperature.png') }}" alt="Temperature Icon" style="width:48px;height:48px;">
                    Temperature
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">Brood: {{ latest_readings['values'][0] }} °C</li>
                    <li class="list-group-item">Super: {{ latest_readings['values'][1] }} °C</li>
                    <li class="list-group-item">Roof: {{ latest_readings['values'][5] }} °C</li>
                    <li class="list-group-item">Outside: {{ latest_readings['values'][3] }} °C</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>
                    <img src="{{ url_for('static', filename='humidity.png') }}" alt="Humidity Icon" style="width:48px;height:48px;">
                    Humidity
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">Inside: {{ latest_readings['values'][4] }} %</li>
                    <li class="list-group-item">Outside: {{ latest_readings['values'][2] }} %</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>
                    <img src="{{ url_for('static', filename='weight.png') }}" alt="Weight Icon" style="width:48px;height:48px;">
                    Weight
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">Weight: {{ latest_readings['values'][6] }} kg</li>
                </ul>
            </div>
        </div>
    {% else %}
        <p>No data available.</p>
    {% endif %}
    <a href="/all_data" class="btn btn-primary">View All Data</a>
</div>
{% endblock %}
