{% extends "base.html" %}

{% block title %}Temperature Readings{% endblock %}

{% block content %}
<h1 class="mb-4">Temperature Readings</h1>

<!-- Filter Form -->
<form id="filter_form" action="/temperature" method="GET" class="mb-3">
    <div class="row align-items-end g-3">
        <div class="col-md-auto">
            <label for="start_date" class="col-form-label">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="form-control">
        </div>
        <div class="col-md-auto">
            <label for="end_date" class="col-form-label">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="form-control">
        </div>
        <div class="col-md-auto align-self-end">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-md-auto align-self-end">
            <a href="/export_temperature?start_date={{ request.args.get('start_date') }}&end_date={{ request.args.get('end_date') }}" class="btn btn-secondary">Export CSV</a>
        </div>
    </div>
</form>

<!-- Temperature Plot -->
<img src="{{ temp_plot_path }}" alt="Temperature Plot" class="img-fluid">

<!-- Data Table -->
<table class="table table-striped table-bordered mt-4">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Brood Temp</th>
            <th>Super Temp</th>
            <th>Outside Temp</th>
            <th>Roof Temp</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(timestamps|length) %}
        <tr>
            <td>{{ timestamps[i] }}</td>
            <td>{{ temp1[i] }}</td>
            <td>{{ temp2[i] }}</td>
            <td>{{ temp3[i] }}</td>
            <td>{{ temp4[i] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/" method="get">
    <button type="submit" class="btn btn-secondary mt-4">Go Back</button>
</form>
{% endblock %}
